* {
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
}

.Project_Overview .MainLogo {
    position: relative;
    width: 50%;
    height: auto;
    top: 10px;
}

.Project_Overview .Headings {
    position: relative;
    color: rgb(31, 99, 177);
    font-size: x-large;
}

.Project_Overview .Search {
    position: relative;
    padding: 10px;
    height: 75px;
}

.Project_Overview .Labels {
    color: rgb(31, 99, 177);
    font-size: x-large;
    word-spacing: 50px;
    font-weight: bold;
    height: 50px;
}

.Project_Overview .Tasks {
    margin: 20px;
}

.Project_Overview input 
{
    position: relative;
    width: 600px;
    box-sizing: border-box;
    border-radius: 25px;
    border: 1px solid #000000;
    padding: 20px;
}

.Project_Overview .Buttons {
    padding-top: 10px;
}

.Project_Overview .BackToProjects {
    position: relative;
    background-color: white;
    border: none;
    padding: 10px;
    border-radius: 25px;
    filter: drop-shadow(0px 2px 2px #2F2F2F)
}

.Project_Overview .CreateTask {
    position: relative;
    margin-left: 240px;
    border-radius: 25px;
    border-color: #FFB81C;
    border: 2px solid #FFB81C;
    background-color: #FFB81C;
    padding: 10px;
    filter: drop-shadow(0px 2px 2px #2F2F2F)
}